<!DOCTYPE html>
<html lang="en">

<head>
    <title>Olá nome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form method="POST" action="olaPessoa" class="container">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
        </div>
        <div>
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome" required>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>